@using VetWebMVC.Models.ViewModel
@model AnimalRemedioViewModel;
@{
    ViewData["Title"] = "AplicaEfeito";
}

<h1>Efeito aplicado</h1>

<h2>@Model.Animal.AnimalId</h2>

<h2>@Model.Animal.FrequenciaCardiaca</h2>
