@model VetWeb.Remedio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Remedio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrincipioAtivo" class="control-label"></label>
                <input asp-for="PrincipioAtivo" class="form-control" />
                <span asp-validation-for="PrincipioAtivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MecanismoAcao" class="control-label"></label>
                <input asp-for="MecanismoAcao" class="form-control" />
                <span asp-validation-for="MecanismoAcao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViaAdministracao" class="control-label"></label>
                <input asp-for="ViaAdministracao" class="form-control" />
                <span asp-validation-for="ViaAdministracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EfeitoAdverso" class="control-label"></label>
                <input asp-for="EfeitoAdverso" class="form-control" />
                <span asp-validation-for="EfeitoAdverso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EfeitoSistemicoId" class="control-label"></label>
                <input asp-for="EfeitoSistemicoId" class="form-control" />
                <span asp-validation-for="EfeitoSistemicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
